*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
     
     
    
}

body{
    /* height: 100vh;
    width: 100vw; */
    /* background-color:#17202A; */
    
    background: linear-gradient(135deg, #17202A 40%,#283747);
    /* z-index: -9; */
    
    overflow: hidden;
    color: white;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
}