.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.b{
    width: 8rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    border-radius: 5rem;
    font-weight: 500;
}
.b:hover{
    background-color: rgb(230, 230, 20);
}